<div class="panel panel-default" style="border: 0;">
    <!-- Default panel contents -->
    <div class="panel-heading">Parts List</div>
    <!-- Table -->
    <div class="table-responsed">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>零件id</th>
                    <th>账单id</th>
                    <th>名字</th>
                    <th>年份</th>
                    <th>系列</th>
                    <th>厂商</th>
                    <th>型号</th>
                    <th>描述文本</th>
                    <th>价格</th>
                    <th>是否需要安装</th>
                    <th>是否有库存</th>
                    <th>是否客户自己安装</th>
                    <th>到货日期</th>
                    <th>安装日期</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of partsList; let i = index;" [style.backgroundColor]="status_color[part.Status - 1]">
                    <td>{{part.DueBillPartsId}}</td>
                    <td>{{part.DueBillId}}</td>
                    <td>{{part.Name}}</td>
                    <td>{{part.Year}}</td>
                    <td>{{part.Trim}}</td>
                    <td>{{part.Make}}</td>
                    <td>{{part.Model}}</td>
                    <td>{{part.Description}}</td>
                    <td>{{part.Cost}}</td>
                    <td>{{part.RequiredInstall}}</td>
                    <td>{{part.IsInStock}}</td>
                    <td *ngIf="model != 'finance'">{{part.CustomerInstallation}}</td>
                    <td *ngIf="model == 'finance'">
                    <div class="radio">
                        <label>
                            <input type="radio" name="CustomerInstallation{{i}}" value="1" checked="checked">
                            是
                        </label>
                        <label>
                            <input type="radio" name="CustomerInstallation{{i}}" value="0">
                            否
                        </label>
                    </div>
                    </td>
                    <td>{{part.OrderDeliverdDate}}</td>
                    <td *ngIf="model != 'service'">{{part.Schedule | date: 'yyyy年-MM月-dd日'}}</td>
                    <td *ngIf="model == 'service'">
                        <!-- {{part.Schedule | date: 'yyyy年-MM月-dd日'}} -->
                        <!-- <input type="date" class="form-control" name="Schedule{{i}}" #Schedule{{i}}="ngModel" [(ngModel)]="part.Schedule"> -->
                        <input type="text" [bsConfig]="bsConfig" class="form-control" value="{{part.Schedule}}" (change)="format(part.Schedule)" #dp="bsDatepicker" bsDatepicker name="Schedule{{i}}" [(bsValue)]="part.Schedule">
                    </td>
                    <td>{{part.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer text-center" *ngIf="model != 'default'">
        <button type="button" class="btn btn-success" (click)="savePart()" >保存</button>
    </div>

</div>