<div class="panel panel-default" style="border: 0;">
    <!-- Default panel contents -->
    <div class="panel-heading">Event Board</div>
    <!-- Table -->
    <div class="table-responsed">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eventBoard of eventBoards">
                    <td [style.backgroundColor]="status_color[eventBoard.status - 1]">{{eventBoard.duebill_id}}</td>
                    <td>{{eventBoard.firstname}}</td>
                    <td>{{eventBoard.lastname}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>